body
{
 background-color: black;
 color: aliceblue;
 text-align: center; 
 min-height: 100%;
 margin: auto;
}

.button
{
  background-color: #1F023D;
  border: 2px solid azure;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 200px;
  margin-top: 25px;
  border-radius: 10px;
  
}
a 
{
 color: azure;
}

h1
{
  color: azure;
}

.header {
    grid-area: header;
    border: 20px black;
    text-align: center;
}
.content {
    background-color: transparent;
    grid-area: content;
    align-self: center;
    justify-self: center;
}
.menu {
    background-color: transparent;
    grid-area: menu;  
}
.footer {
    background-color: #000000;
    grid-area: footer;
    width: 99%;
    text-align: center;
    color: azure;
    position: absolute;
    bottom: 0;
}

.grid-wrapper-main{
    display: grid;
    grid-template-columns: 2.5fr 2.5fr 0.1fr;
    row-gap: 40px;
    column-gap: 10px;
    grid-template-areas: 
    "header header header"
    "content content menu"
    "footer footer footer";
}

.twitch-stream-script {
  position: relative;
  top: 100vh;
  max-width: 65%;
  max-height: 90vh;
}

.twitch-stream {
  position: relative;
  float: right;
  right: 0.5vw;
  top: 1vh;
}
  .twitch-stream-script {
    position: relative;
    top: 100vh;
    max-width: 65%;
    max-height: 90vh;
  }